<div class="container-fluid">
    <div class="flex-container">
        <section>
            <div class="title">
                <h1>Veterinaria</h1>
                <h4>The Agents</h4>
            </div>
            <div class="abaout">
                <strong>Un poco de nosotros...</strong>
                <p>Nos especializamos en la consulta, cuidado y embellecimiento
                    de tus mascotas, a la par de nuestros expertos procurando
                    siempre por el bienestar de nuestros peludos
                </p>
            </div>
            <button type="button" class="btn btn-learn-more" data-bs-toggle="modal" data-bs-target="#exampleModal">Learn
                more...</button>
        </section>
        <div class="bannerHome">
            <img src="assets/img/calendar.png">
        </div>
    </div>
    <!--Ventana modal con información extra-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Más sobre nosotros</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor ante eget nunc facilisis,
                        non fermentum odio convallis. Etiam dictum eros quis metus consequat, quis ornare dui pharetra.
                        Aenean elementum orci dui, eget aliquam massa feugiat ac. Nam ligula dui, laoreet a luctus in,
                        auctor nec eros. In hac habitasse platea dictumst. Nunc dolor sem, egestas sit amet augue
                        finibus, iaculis malesuada diam. Aenean et dolor a ligula ultrices condimentum a in ex. Donec ac
                        vestibulum mi. Mauris elementum lacus eu felis efficitur tempus. Vestibulum sodales quam vel
                        neque lacinia dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia curae; In hac habitasse platea dictumst.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>