<div class="container-fluid">
    <div class="flex-container">
        <section>
            <div class="title">
                <h1>Servicios disponibles</h1>
            </div>
            <div class="services">
                @for(service of getCurrentServices(); track service){
                <mat-card class="card">
                    <img mat-card-image src="{{service.img}}" alt="Foto vacuna">
                    <mat-card-content>
                        <h4>{{service.name}}</h4>
                        <p>{{service.description}}</p>
                        <strong><p>{{service.price}}</p></strong>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" (click)="goScheduleService(service)">Seleccionar</button>
                    </mat-card-actions>
                </mat-card>
                }
            </div>
        </section>
        <div class="navegation-buttons">
            <button id="btn-back" (click)="prevPage()"><</button>
            <button id="btn-next" (click)="nextPage()">></button>
        </div>
    </div>
</div>