.spacer {
    flex: 1 1 auto;
  }
.vet-primary{
    background-color: #5EA3FF;
    
}

.title{
    color: white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.list-option{
    background-color: #E6E57E;
    color: black;
    border-radius: 20px; /* radio de las esquinas */
}

.btn-option{
    margin: 5px;
}

.btn-logout{
    color: white !important;
    margin: 5px;
}

.btn-user-logged{
    color: black;
    font-weight: bold;
    margin: 5px;
}



