<mat-toolbar class="vet-primary mat-elevation-z6">
    <span class="title">
        <mat-icon>pets</mat-icon><b>TheAgents</b>
    </span>
    <!-- Si el empleado se logueo y tiene token de acceso -->
    @if(token != null){
        <a mat-button class="btn-user-logged" [routerLink]="'theagents/'+ 'profile'">
            <i class="bi bi-person-circle"></i> 
            {{username}}
        </a>
        <div class="spacer"></div>
        <div class="logout">
            <button mat-button type="button" class="btn-logout" (click)="setLogout()">
                <i class="bi bi-box-arrow-left"></i> Salir
            </button>
        </div>
        <div class="list-option">
            @for(element of loggedIn; track element){
            <a mat-button class="btn-option" [routerLink]="'theagents/'+element.redirection">
                {{element.name}}
            </a>
            }
        </div>
    }
    @else {
        <div class="spacer"></div>
        <div class="list-option">
            @for(element of withoutLogin; track element){
            <a mat-button class="btn-option" [routerLink]="element.redirection">
                {{element.name}}
            </a>
            }
        </div>
    }
</mat-toolbar>
<footer>
</footer>