<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <h1>Regístrate</h1>
                </div>
                <div class="mb-3">
                    <input class="form-control d-inline-block mr-2" type="text" id="txtName" 
                    formControlName="name" placeholder="Nombre" [(ngModel)]="user.nombre">
                    <input class="form-control d-inline-block" type="text" id="txtUser" 
                    formControlName="username" placeholder="Nickname" [(ngModel)]="user.user">
                </div>
                <div class="mb-3">
                    <input class="form-control d-inline-block mr-2" type="number" id="txtDocument"
                    formControlName="id" placeholder="Documento" [(ngModel)]="user.id">
                    <input class="form-control d-inline-block" type="number" id="txtNumber" 
                    formControlName="phone" placeholder="Teléfono" [(ngModel)]="user.telefono">
                </div>
                <div class="mb-3">
                    <input class="form-control d-inline-block mr-2" type="email" id="txtEmail" 
                    formControlName="email" placeholder="Correo" [(ngModel)]="user.correo">
                    <input class="form-control d-inline-block" type="password" id="txtPassword" 
                    formControlName="password" placeholder="Clave" [(ngModel)]="user.clave">
                </div>
                <div class="mb-3">
                    <input class="form-control d-inline-block mb-4" type="number" id="txtAge" 
                    formControlName="age" placeholder="Edad" [(ngModel)]="user.edad">
                    <select class="form-select d-inline-block" aria-label="Select charge" aria-placeholder="Cargo">
                        <option disabled selected value="">Cargo</option>
                        <option value="">Acudiente</option>
                        <option value="">Veterinario</option>
                        <option value="">Recepcionista</option>
                        <option value="">Administrador</option>
                    </select>
                </div>
                <div class="mb-3 form-check">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="cbFemale" 
                        formControlName="sex" (change)="defineSex()" value="M">
                        <label class="form-check-label" for="cbFemale">Mujer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="cbMale" 
                        formControlName="sex" (change)="defineSex()" value="H">
                        <label class="form-check-label" for="cbMale">Hombre</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Crear usuario</button>
            </form>
            <div class="form-text" id="login-redirection">
                ¿Ya tienes una cuenta? <a [routerLink]="'/login'">Inicia sesión</a>
            </div>
        </div>
    </div>
</div>