<div class="schedule-container" class="fade-in">
    @if(idService == null){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        No has seleccionado ningún servicio
        <a [routerLink]="['/theagents/veterinary-service']">Ir a seleccionar un servicio</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    <div class="container-fluid">
        <div class="flex-container">
            <section>
                <div class="title">
                    <h1>Agenda</h1>
                </div>
                <div class="selected-services">
                    @if(idService == null){
                    <p>No has seleccionado ningún servicio</p>
                    }@else {
                    <h6>Fecha</h6>
                    <hr>
                    <p>• Nombre acudiente</p>
                    <p>• Nombre paciente</p>
                    <p>• Cantidad servicios</p>
                    <h6>Descripción</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a dictum mauris. Praesent
                        ullamcorper mollis lectus a viverra. Suspendisse egestas, purus consequat vehicula lobortis,
                        massa
                        enim faucibus arcu, tempor vestibulum ante tortor nec nunc. </p>
                    }
                </div>
                <div class="buttonsProducts">
                    <button type="button" class="btn btn-send">Añadir producto</button>
                    <button type="button" class="btn btn-delete">X</button>
                    <button type="button" class="btn btn-add"><i class="bi bi-pencil-fill"></i></button>
                </div>
                <div class="buttonsServices">
                    <button type="button" class="btn btn-send" (click)="scheduleService()">Agendar cita</button>
                    <button type="button" class="btn btn-delete">X</button>
                    <button type="button" class="btn btn-add"><i class="bi bi-pencil-fill"></i></button>
                </div>
            </section>
            <div class="calendar">
                <mat-card class="scheduling-calendar">
                    <mat-calendar [(selected)]="dateSelected"></mat-calendar>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="products-container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>